@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 @apply bg-black relative min-h-screen;
}


@layer base {
  dialog::backdrop{
    @apply bg-black bg-opacity-15
  }
}

@layer components{
  .modal-title{
    @apply border-b border-white font-semibold text-2xl w-fit pb-1 pr-2 tracking-[0.2em] uppercase
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
